<header class="container">
  <div id="nav">
    <h1>fieldPET</h1>
    <ul id="navTabs" class="tabs">
      <li class="tab"><a href="#dataEntryTab">Data Entry</a></li>
      <li class="tab"><a href="#metricsTab">Metrics</a></li>
    </ul>
  </div>
  <img src="./img/mayfly.png" height="16%" width="16%">
</header>

<div id="dataEntryTab" class="container">
  <ul id="bugTabs" class="tabs">
    <li class="tab col s1"><a href="#B">Beetles</a></li>
    <li class="tab col s1"><a href="#BF">Blackflies</a></li> {{!-- done --}}
    <li class="tab col s1"><a href="#C">Crayfish</a></li> {{!-- done --}}
    <li class="tab col s1"><a href="#CL">Clams</a></li> {{!-- done --}}
    <li class="tab col s1"><a href="#CN">Common Netspinners</a></li> {{!-- done --}}
    <li class="tab col s1"><a href="#DD">Dragonflies and Damselflies</a></li>
    <li class="tab col s1"><a href="#F">Flatworms</a></li> {{!-- done --}}
    <li class="tab col s1"><a href="#GS">Gilled Snails</a></li> {{!-- done --}}
    <li class="tab col s1"><a href="#HFA">Hellgrammites, Fishflies, and Alderflies</a></li>
    <li class="tab col s1"><a href="#L">Leeches</a></li> {{!-- done --}}
    <li class="tab col s1"><a href="#M">Mayflies</a></li> {{!-- done --}}
    <li class="tab col s1"><a href="#MC">Most Caddisflies</a></li> {{!-- done --}}
    <li class="tab col s1"><a href="#MTF">Most True Flies</a></li>
    <li class="tab col s1"><a href="#OO">Other Organisms</a></li>
    <li class="tab col s1"><a href="#SB">Sowbugs</a></li> {{!-- done --}}
    <li class="tab col s1"><a href="#SC">Scuds</a></li> {{!-- done --}}
    <li class="tab col s1"><a href="#SF">Stoneflies</a></li> {{!-- done --}}
    <li class="tab col s1"><a href="#LS">Lunged Snails</a></li> {{!-- done --}}
    <li class="tab col s1"><a href="#W">Worms</a></li> {{!-- done --}}
    <li class="tab col s1"><a href="#MI">Midges</a></li> {{!-- done --}}
  </ul>
  <form id="bugForm">
    <div id="B" class="col s12">
      <h1>Beetles</h1>
      {{> bugInputs name="B"}}
    </div>
    <div id="BF" class="col s12">
      <h1>Blackflies</h1>
      {{> bugInputs name="BF"}}
    </div>
    <div id="C" class="col s12">
      <h1>Crayfish</h1>
      {{> bugInputs name="C"}}
    </div>
    <div id="CL" class="col s12">
      <h1>Clams</h1>
      {{> bugInputs name="CL"}}
    </div>
    <div id="CN" class="col s12">
      <h1>Common Netspinners</h1>
      {{> bugInputs name="CN"}}
    </div>
    <div id="DD" class="col s12">
      <h1>Dragonflies and Damselflies</h1>
      {{> bugInputs name="DD"}}
    </div>
    <div id="F" class="col s12">
      <h1>Flatworms</h1>
      {{> bugInputs name="F"}}
    </div>
    <div id="GS" class="col s12">
      <h1>Gilled Snails</h1>
      {{> bugInputs name="GS"}}
    </div>
    <div id="HFA" class="col s12">
      <h1>Hellgrammites, Fishflies, and Alderflies</h1>
      {{> bugInputs name="HFA"}}
    </div>
    <div id="L" class="col s12">
      <h1>Leeches</h1>
      {{> bugInputs name="L"}}
    </div>
    <div id="M" class="col s12">
      <h1>Mayflies</h1>
      {{> bugInputs name="M"}}
    </div>
    <div id="MC" class="col s12">
      <h1>Most Caddisflies</h1>
      {{> bugInputs name="MC"}}
    </div>
    <div id="MTF" class="col s12">
      <h1>Most True Flies</h1>
      {{> bugInputs name="MTF"}}
    </div>
    <div id="OO" class="col s12">
      <h1>Other Organisms</h1>
      {{> bugInputs noImage="OO"}}
    </div>
    <div id="SB" class="col s12">
      <h1>Sowbugs</h1>
      {{> bugInputs name="SB"}}
    </div>
    <div id="SC" class="col s12">
      <h1>Scuds</h1>
      {{> bugInputs name="SC"}}
    </div>
    <div id="SF" class="col s12">
      <h1>Stoneflies</h1>
      {{> bugInputs name="SF"}}
    </div>
    <div id="LS" class="col s12">
      <h1>Lunged Snails</h1>
      {{> bugInputs name="LS"}}
    </div>
    <div id="W" class="col s12">
      <h1>Worms</h1>
      {{> bugInputs name="W"}}
    </div>
    <div id="MI" class="col s12">
      <h1>Midges</h1>
      {{> bugInputs name="MI"}}
    </div>


    <div class="center-align">
      <button id="submitBugs">SUBMIT</button>
    </div>
  </form>
</div>

<div id="metricsTab" class="container">
  <div class="row">
    <div class="col s6 center-align">
      <a id="bug-counts-btn" class="figure-btn"><img src="./img/figures/lineChart.png"></a>
    </div>
    <div class="col s6 center-align">
      <a id="join-table-btn" class="figure-btn"><img src="./img/figures/scatterPlot.png"></a>
    </div>
  </div>
  <div class="row b center-align">
    <div class="col s12">
      <a href="https://salty-savannah-46210.herokuapp.com/api/bugs" target="_blank">Bug Data API</a>
      <a class="disabled" href="#!">|</a>
      <a href="https://salty-savannah-46210.herokuapp.com/api/site" target="_blank">Site Data API</a>
      <a class="disabled" href="#!">|</a>
      <a id="creditsLink" href="#" target="_blank">Credits</a>
    </div>
  </div>

</div>

{{!-- LOGIN MODAL --}}
<div id="loginModal" class="modal">
  <div class="modal-content">
    <h1>LOGIN</h1>

    <form id="loginForm">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      {{!-- we will need to format this date --}}
      <input type="date" name="fieldDate" placeholder="Select Collection Date">
      <label>Browser Select</label>
      <select id="site-options" name="site" class="browser-default">
        <option value="" disabled selected>Select a Site</option>
      </select>
      <p id="message-text" class="warning-message"></p>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>

{{!-- CONDITION MODAL --}}
<div id="conditionModal" class="modal">
  <div class="modal-content">
    <h1>Ecological Condition</h1>
    {{!-- eventually, let's add an image or icon for the image scores --}}
    <h3 id="condition-text"></h3>
  </div>
</div>

{{!-- CHART MODAL --}}
<div id="chartModal" class="modal">
  <div class="modal-content">
    <h3 id="chart-title"></h3>
    <canvas id="chart-display"></canvas>
  </div>
</div>

{{!-- CREDITS MODAL --}}
<div id="creditsModal" class="modal">
  <div class="modal-content">
    <h4>Credits:</h4>
    <p><b>Data Processing, Analysis, and Metrics:</b> Kensey Barker (<a href="https://github.com/kenzrad" target="_blank">@kenzrad</a>)</p>
    <p><b>Visualization, Integration:</b> Austin Kim (<a href="https://github.com/powerpcg5" target="_blank">@powerpcg5</a>)</p>
    <p><b>Database, Data Integration:</b> Molly Levine (<a href="https://github.com/levinemr2" target="_blank">@levinemr2</a>)</p>
    <p><b>Front End Design:</b> Thomas Smith (<a href="https://github.com/Slowpossum" target="_blank">@Slowpossum</a>)</p>
    <br>
    <p>The invaluable information and pictures of <a href="https://www.iwla.org/" target="_blank">The Izaac Walton League of America</a></p>
  </div>
</div>

{{!-- FLOATING BUG INFO PANE --}}
<div id="bugInfo" class="hidden">
</div>