<header class="container">
  <div>
    <h1>fieldPET</h1>
    <ul class="tabs">
      <li class="tab col s3"><a href="#dataEntryTab">Data Entry</a></li>
      <li class="tab col s3"><a href="#metricsTab">Metrics</a></li>
    </ul>
  </div>
</header>

<div id="dataEntryTab" class="container">
  <ul id="bugTabs" class="tabs">
    <li class="tab col s3"><a href="#test-swipe-1">Bug 1</a></li>
    <li class="tab col s3"><a href="#test-swipe-2">Bug 2</a></li>
    <li class="tab col s3"><a href="#test-swipe-3">Bug 3</a></li>
  </ul>
  <div id="test-swipe-1" class="col s12 blue">Test1</div>
  <div id="test-swipe-2" class="col s12 red">Test 2</div>
  <div id="test-swipe-3" class="col s12 green">Test 3</div>

  <div class="center-align">
    <button id="submitBugs">SUBMIT</button>
  </div>
</div>

<div id="metricsTab" class="container">
  <p>Charts and Stuff Go Here.</p>
</div>

{{!-- LOGIN MODAL --}}
<div id="loginModal" class="modal">
  <div class="modal-content">
    <h1>LOGIN</h1>

    <form id="loginForm">
      <input type="text" name="Username" placeholder="Username">
      <input type="password" name="Password" placeholder="Password">
      <input type="submit" value="Submit">
    </form>
  </div>
</div>