<header class="container">
  <div>
    <div id="nav">
      <h1>fieldPET</h1>
      <ul class="tabs">
        <li class="tab col s3"><a href="#dataEntryTab">Data Entry</a></li>
        <li class="tab col s3"><a href="#metricsTab">Metrics</a></li>
      </ul>
    </div>
  </div>
</header>

<div id="dataEntryTab" class="container">
  <ul id="bugTabs" class="tabs">
    <li class="tab col s1"><a href="#B">Beetles</a></li>
    <li class="tab col s1"><a href="#BF">Blackflies</a></li>
    <li class="tab col s1"><a href="#C">Crayfish</a></li>
    <li class="tab col s1"><a href="#CL">Clams</a></li>
    <li class="tab col s1"><a href="#CN">Common Netspinners</a></li>
    <li class="tab col s1"><a href="#DD">Dragonflies and Damselflies</a></li>
    <li class="tab col s1"><a href="#F">Flatworms</a></li>
    <li class="tab col s1"><a href="#GS">Gilled Snails</a></li>
    <li class="tab col s1"><a href="#HFA">Hellgrammites, Fishflies, and Alderflies</a></li>
    <li class="tab col s1"><a href="#L">Leeches</a></li>
    <li class="tab col s1"><a href="#M">Mayflies</a></li>
    <li class="tab col s1"><a href="#MC">Most Caddisflies</a></li>
    <li class="tab col s1"><a href="#MTF">Most True Flies</a></li>
    <li class="tab col s1"><a href="#OO">Other Organisms</a></li>
    <li class="tab col s1"><a href="#SB">Sowbugs</a></li>
    <li class="tab col s1"><a href="#SC">Scuds</a></li>
    <li class="tab col s1"><a href="#SF">Stoneflies</a></li>
    <li class="tab col s1"><a href="#LS">Lunged Snails</a></li>
    <li class="tab col s1"><a href="#W">Worms</a></li>
    <li class="tab col s1"><a href="#MI">Midges</a></li>
  </ul>
  <form id="bugForm">
    <div id="B" class="col s12">
      <h1>Beetles</h1>
      {{!-- Materialize has an issue with img on the first tab of slidable tabs,
      which is why this is different. --}}
      <div class="imageDiv image" data-name="B" style="background-image: url('./img/B.png')"></div>
      {{> bugInputs name="B"}}
    </div>
    <div id="BF" class="col s12">
      <h1>Blackflies</h1>
      <img class="image" src="./img/B.png" data-name="BF" alt="Blackfly Image">
      {{> bugInputs name="BF"}}
    </div>
    <div id="C" class="col s12">
      <h1>Crayfish</h1>
      {{> bugInputs name="C"}}
    </div>
    <div id="CL" class="col s12">
      <h1>Clams</h1>
      {{> bugInputs name="CL"}}
    </div>
    <div id="CN" class="col s12">
      <h1>Common Netspinners</h1>
      {{> bugInputs name="CN"}}
    </div>
    <div id="DD" class="col s12">
      <h1>Dragonflies and Damselflies</h1>
      {{> bugInputs name="DD"}}
    </div>
    <div id="F" class="col s12">
      <h1>Flatworms</h1>
      {{> bugInputs name="F"}}
    </div>
    <div id="GS" class="col s12">
      <h1>Gilled Snails</h1>
      {{> bugInputs name="GS"}}
    </div>
    <div id="HFA" class="col s12">
      <h1>Hellgrammites, Fishflies, and Alderflies</h1>
      {{> bugInputs name="HFA"}}
    </div>
    <div id="L" class="col s12">
      <h1>Leeches</h1>
      {{> bugInputs name="L"}}
    </div>
    <div id="M" class="col s12">
      <h1>Mayflies</h1>
      {{> bugInputs name="M"}}
    </div>
    <div id="MC" class="col s12">
      <h1>Most Caddisflies</h1>
      {{> bugInputs name="MC"}}
    </div>
    <div id="MTF" class="col s12">
      <h1>Most True Flies</h1>
      {{> bugInputs name="MTF"}}
    </div>
    <div id="OO" class="col s12">
      <h1>Other Organisms</h1>
      {{> bugInputs name="OO"}}
    </div>
    <div id="SB" class="col s12">
      <h1>Sowbugs</h1>
      {{> bugInputs name="SB"}}
    </div>
    <div id="SC" class="col s12">
      <h1>Scuds</h1>
      {{> bugInputs name="SC"}}
    </div>
    <div id="SF" class="col s12">
      <h1>Stoneflies</h1>
      {{> bugInputs name="SF"}}
    </div>
    <div id="LS" class="col s12">
      <h1>Lunged Snails</h1>
      {{> bugInputs name="LS"}}
    </div>
    <div id="W" class="col s12">
      <h1>Worms</h1>
      <img class="image" src="./img/W.png" data-name="W" alt="Worm Image">
      {{> bugInputs name="W"}}
    </div>
    <div id="MI" class="col s12">
      <h1>Midges</h1>
      {{> bugInputs name="MI"}}
    </div>


    <div class="center-align">
      <button id="submitBugs">SUBMIT</button>
    </div>
  </form>
</div>

<div id="metricsTab" class="container">
  <p>Charts and Stuff Go Here.</p>

  {{!-- test chart modal --}}
  <button id="test-chart-btn" class="chart-btn waves-effect waves-light red  lighten-2 btn">Test Chart</button>

  {{!-- get all and present either in table or JSON --}}
  <button id="get-all-btn" class="chart-btn waves-effect waves-light btn">All Data</button>
  
  {{!-- get all stonefly data across time for all sites --}}
  <button id="all-SF-btn" class="chart-btn waves-effect waves-light btn">Stonefy Counts</button>

  <br>
  {{!-- calculate condition matrix for the james river for every instance, and then graph it --}}
  <button id="lower-james-condition-btn" class="chart-btn waves-effect waves-light btn">Lower James Condition</button>

  {{!-- get all mayfly data for james river across time --}}  
  <button id="lower-james-MF-btn" class="chart-btn waves-effect waves-light btn">Lower James Mayflies</button>
  
</div>

{{!-- LOGIN MODAL --}}
<div id="loginModal" class="modal">
  <div class="modal-content">
    <h1>LOGIN</h1>

    <form id="loginForm">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      {{!-- we will need to format this date --}}
      <input type="date" name="collection-date" placeholder="Select Collection Date">
      <label>Browser Select</label>
        <select id="options" class="browser-default">
            <option value="" disabled selected>Select a Site</option>
        </select>
      <p id="message-text" class="warning-message"></p>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>

{{!-- CONDITION MODAL --}}
<div id="conditionModal" class="modal">
  <div class="modal-content">
    <h1>Ecological Condition</h1>
    {{!-- eventually, let's add an image or icon for the image scores --}}
    <h3 id="condition-text"></h3>
  </div>
</div>

{{!-- CHART MODAL --}}
<div id="chartModal" class="modal">
  <div class="modal-content">
    <h1 id="chart-title"></h1>
    <canvas id="chart-display"></canvas>
  </div>
</div>

{{!-- FLOATING BUG INFO PANE --}}
<div id="bugInfo" class="hidden">
  <h1>test</h1>
</div>
