/* 
/ SCROLLBAR
*/
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #e1eff2;
}

::-webkit-scrollbar-thumb {
  background: #66a29e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #528783; 
}

::-webkit-scrollbar-button {
  width: 3px;
}




/* 
/   ELEMENTS
*/
body {
  background-color: #e1eff2;
  padding: 10px;
}

input {
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




/* 
/   CLASSES
*/
.tabs {
  background-color: transparent;
}

.tabs .tab a {
  color: rgba(101,112,86, 0.7);
  font-weight: 600;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #657056;
}

.tabs .indicator {
  background-color: #657056;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(101,112,86, 0.2);
}

.inc, .dec {
  height: 50px;
  width: 40px;
  padding: 0;
  background-color: transparent;
  border: 4px solid #657056;
  border-radius: 15px;
  color: #657056;
  font-size: 35px;
  font-weight: 700;
  transition-duration: 500ms;
}

.inc:hover, .dec:hover {
  transform: scale(1.1);
}

.inc:hover {
  border-color: #388f36;
  color: #388f36;
  background-color: rgba(56, 143, 54, 0.1);
}

.dec:hover {
  border-color: #fc4154;
  color: #fc4154;
  background-color: rgba(252, 65, 84, 0.1);
}

/*You can do whatever you want with this, I'm not super familiar w/ materialize*/
.chart-btn  {
  margin: 1%;
  width: 250px;
  height: 50px;
}

.bugTabTop {
  text-align: center;
}

.imageDiv {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.image, .imageDiv {
  width: 344px!important;
  height: 132px!important;
  padding: 5px;
  border: 5px solid #657056;
  border-radius: 10px;
}

.hidden {
  display: none;
}




/* 
/   IDS
*/
#dataEntryTab, #metricsTab {
  margin-top: 20px;
  padding: 20px;
  min-height: 400px;
  background-color: #acb5a0;
  border-radius: 10px;
}

#bugTabs {
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
  background-color: white;
}

#loginModal {
  background-color: #657056;
  width: 500px;
  border-radius: 10px;
  text-align: center;
}

#loginModal input[type=submit] {
  color: black;
}

#loginModal h1 {
  color: white;
}

#submitBugs {
  background-color: transparent;
  border: 3px solid #657056;
  border-radius: 10px;
  margin-top: 10px;
  width: 150px;
  height: 50px;
  color: #657056;
  font-weight: 600;
  font-size: 20px;
  transition-duration: 500ms;
}

#submitBugs:hover {
  transform: scale(1.05);
  color: #388f36;
  border-color: #388f36;
  background-color: rgba(56,143,54,0.1);
}

#bugForm div:not(:last-child) {
  padding: 20px;
  text-align: center;
}

#bugForm h1 {
  font-size: 50px;
  font-variant: small-caps;
  margin: 0px 0px 10px 0px;
}

#bugForm input {
  text-align: center;
  height: 75px;
  width: 100px;
  margin: 10px;
  border: 5px solid #657056;
  border-radius: 15px;
  color: #657056;
  font-size: 40px;
  font-weight: 600;
}

#bugForm input::placeholder {
  color:rgba(101, 112, 86, 0.6);
}

#bugForm div:nth-child(even):not(:last-child) {
  background-color: #95bfbc;
} 

#bugForm div:nth-child(odd):not(:last-child) {
  background-color: #66a29e;
}

#nav {
  width: 251px;
  border-right: 5px solid #657056;
  padding-right: 10px;
  text-align: right;
}

#nav h1, #nav ul {
  display: inline;
}

#bugInfo {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #657056;
  height: 200px;
  width: 200px;
  color: white;
  padding: 10px;
  border: 5px solid #424938;
  border-radius: 15px;
}